.anakart {
  z-index: 0;
  object-fit: cover;
  height: 100vh;
  max-width: 100%;
  filter: grayscale(100%);
  display:flex;
  justify-content: center;
}

.middle {
  opacity: 0;
  display:flex;
  align-self: center;
  
}

.anakart:hover .middle {
  opacity: 1;
}

.anakart:hover {
  filter: grayscale(0%);
  transition: .4s ease;
}

@media (max-width: 576px) {

  .anakart {
    width: 100vh;
    height: 35vh;
  }

}

@media (min-width: 576px) {}

#channelBaslik {
  font-family: 'Style Script', cursive;
}

#logout-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}