/* Chat containers */
.konteyner {
  box-shadow: 0 1px 2px 0 rgba(160, 159, 159, 0.11), 0 1px 2px 0 rgba(150, 150, 150, 0.08);
  background-color: #f7f7f7;
  border-radius: 2px;
  padding: 3px;
  margin: 3px;
  min-height: 50px;
  word-wrap: break-word;
}

/* Darker chat container */
.darker {
  background-color:#e9e9e9;
}


/* Style images */
.konteyner img {
  float: left;
  height: 45px;
  max-width: 45px;
  margin-right: 5px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  // border:3px solid #ffca1e;
}

/* Style the right image */
.konteyner img.right {
  float: right;
  object-fit: cover;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
  margin-left: 5px;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
  margin-right: 5px;
}