.kart{

}
body{
    //background: #41295a; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #41295a, #2f0743); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #461043, #340d36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.thing {
    padding: 1rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.2rem;
    
    border-left: 0 solid #ffd900;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
  }
  
  .thing:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid #ffd900;
  }
  
  .thing > :first-child {
    margin-top: 0;
  }
  
  .thing > :last-child {
    margin-bottom: 0;
  }